# .env.example
# Your Gemini API Key from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyALsXQw0RsXGGbHo4Gc83MCMZxAxzp53KE

# Setting this to production will serve the /dist folder instead of using Vite middleware
# NODE_ENV=production
